:root {
    --not-white: #fafafa;
    --not-black: #191724;
    --not-grey: #1e1e1e;
    --hdr-hght: 5rem;
    --lrg-txt: 2.2rem;
}

.light-theme {
    background-color: var(--not-white);
    color: var(--not-black);
}

/* .dark-theme {
    background-color: var(black);
} */

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}


/* Darkmode */

.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    top: 1em;
    right: 1em;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}


.darkmode {
    --clr-light: #fdffc4;
    --clr-dark: #00332a;
    --clr-primary: #202302;
    --clr-secondary: #00100d;
    --clr-accent: #ff7750;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

/* Darkmode */


.nav_right_a {
    display: flex;

}

.nav_right {
    display: flex;

}


.main-container {
    height: 100vh;
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--bg-color);
}

.title h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 1;
    letter-spacing: -1;
    text-align: center;
    color: rgb(0, 0, 0);
}

.title p {
    width: 100%;
    max-width: 300px;
    margin: 15px auto 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}

/* 
.app {}

.container {}

.header-logo {}
 */

/* NAVIGATION */
nav {
    height: auto;
    width: 100%;
    margin: 0 auto;
    background-color: #dddddd;
    font-family: "Aresenal", sans-serif;
    position: sticky;
    top: 0px;
}

.nav_link_list {
    display: flex;
    top: 1em;
}

.nav_link_a {
    margin: 0px;
    color: #171a1b;
    font-weight: 700;
    display: flex;
    justify-content: left;
    color: #000000;
    padding: 14px 16px;
    font-size: 1.5em;
    text-decoration: none;
    transition: opacity 300ms ease;
}

.nav_link {
    list-style-type: none;
    padding-left: 1em;
}

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }
}


/* TIMERS */
html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
  
:root {
    --study: hsl(223, 25%, 40%);
    --short_break: hsl(48, 23%, 40%);
    --long_break: hsl(105, 16%, 40%);
}
  
body {
    background-color: var(--pomodoro);
    transition: background-color 1s ease;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    user-select: none;
}
  
.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}
  
.clock {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 15rem;
    line-height: 1;
    display: flex;
    align-items: center;
    font-family: arial, sans-serif;
}

span {
    font-size: 15rem;
}
  
.mode-button {
    font-size: 16px;
    height: 28px;
    cursor: pointer;
    box-shadow: none;
    font-weight: 300;
    color: #fff;
    border: 1px solid transparent;
    margin: 0px;
    border-radius: 4px;
    padding: 2px 12px;
    background: none;
}
  
.mode-button.active {
    border-color: #fff;
}
  
.main-button {
    cursor: pointer;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    text-transform: uppercase;
    color: hsl(175, 26%, 41%);
    font-weight: bold;
    width: 200px;
    background-color: white;
    border-width: initial;
    border-style: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    transition: color 0.5s ease-in-out 0s;
}
  
button:focus, button:active {
    outline: none;
}
  
.main-button.active {
    transform: translateY(6px);
    box-shadow: none;
    outline: none;
}
  
.hidden {
    display: none;
}
  
@media screen and (max-width: 550px) {
    .clock {
      font-size: 8rem;
    }
}

/* REFERENCE CODE FOR FUTURE POTENTIAL USE */

/* LEADING TITLES
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #171a1b;
    text-align: left;
    padding-left: 0.5em;
    line-height: 2;
}

h1 {
    font-size: 10em;
    font-family: "Aresenal", sans-serif;
    letter-spacing: -0.07em;
    padding-right: 1em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

/* CLASSES */
/* .BCIT {
    font-family: "Poppins", sans-serif;
    margin: 0.4em;
    font-weight: 400;
    padding-left: 1.105em;
}

.PROJECT {
    font-family: "Poppins", sans-serif;
    margin: 0.4em;
    font-weight: 400;
    padding-left: 1.105em;
}

.BLOG {
    font-family: "Poppins", sans-serif;
    margin: 0.4em;
    font-weight: 400;
    padding-left: 1.105em;
}

.BLOGNAV {
    margin: 0px;
    color: #171a1b;
    font-weight: 700;
    color: #ececec;
    padding: 14px 16px;
    text-decoration: none;
    transition: opacity 300ms ease;
}

.hobbies {
    padding-bottom: 5em;
    padding-right: 70em;
}

.align {
    display: flex;
    flex-direction: row;
    padding-right: 55.5em;
    padding-left: 1em;
}

.VAR {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 55.5em;
}

.JAVA {
    width: 100%;
    padding-left: 1em;
}

.NFT {
    padding-left: 1em;
}

.REFERENCE {
    padding-left: 1em;
}

.blog-hover {
    background-color: black;
}

/*  MISCELLANEOUS */
/* body {
    background-color: #171a1b;
}

li {
    padding-left: 1em;
    font-family: "Aresenal", sans-serif;
}

p {
    display: flex;
    flex-direction: row;
    /* padding-right: 58em;
    padding-left: 1em; */
/* font-size: 16px;

    font-family: "Noto Serif Display", serif;
}

pre code {
    font-family: monospace;
    border: 1px solid #171a1b;
    display: block;
    padding: 20px;
    background-color: #171a1b;
    color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a:visited {
    color: #0000;
}

a:hover {
    color: #5e008a;
}

a:link {
    color: #171a1b;
}   */


.light-theme {
    background-color: var(--not-white);
    color: var(--not-black);
}

.dark-theme {
    background-color: var(--not-grey);
}

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

.login-page {
    height: 100vh;
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--bg-color);
}