/* TITLE ON MAIN PAGE */
:root {
    --not-white: #fffaf3;
    --drk-white: #f2e9e1;
    --not-black: #191724;
    --not-red: #eb6f92;
    --not-blue: #31748f;
    --not-green: #56949f;
    --not-grey: #393552;
    --muted: #6e6a86;
    --hdr-hght: 5rem;
    --lrg-txt: 2.2rem;
}


.light-theme {
    --bg-color: var(--not-white);
    --bg-side: var(--drk-white);
    --text: var(--not-black);
}

.dark-theme {
    --bg-color: var(--not-grey);
}

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

.title h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 1;
    letter-spacing: -1;
    text-align: center;
    color: rgb(0, 0, 0);
}

.title p {
    width: 100%;
    max-width: 300px;
    margin: 15px auto 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}

/* 
.app {}

.container {}

.header-logo {}
 */





/* NAVIGATION */
nav {
    height: auto;
    width: 100%;
    margin: 0 auto;
    background-color: #dddddd;
    font-family: "Aresenal", sans-serif;
    position: sticky;
    top: 0px;
}

.nav_link_list {
    display: flex;
    top: 1em;
}

.nav_link_a {
    margin: 0px;
    color: #171a1b;
    font-weight: 700;
    display: flex;
    justify-content: left;
    color: #000000;
    padding: 14px 16px;
    font-size: 1.5em;
    text-decoration: none;
    transition: opacity 300ms ease;
}

.nav_link {
    list-style-type: none;
    padding-left: 1em;
}

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }
}




/* REFERENCE CODE FOR FUTURE POTENTIAL USE */

/* LEADING TITLES
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #171a1b;
    text-align: left;
    padding-left: 0.5em;
    line-height: 2;
}

h1 {
    font-size: 10em;
    font-family: "Aresenal", sans-serif;
    letter-spacing: -0.07em;
    padding-right: 1em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

/* CLASSES */
/* .BCIT {
    font-family: "Poppins", sans-serif;
    margin: 0.4em;
    font-weight: 400;
    padding-left: 1.105em;
}

.PROJECT {
    font-family: "Poppins", sans-serif;
    margin: 0.4em;
    font-weight: 400;
    padding-left: 1.105em;
}

.BLOG {
    font-family: "Poppins", sans-serif;
    margin: 0.4em;
    font-weight: 400;
    padding-left: 1.105em;
}

.BLOGNAV {
    margin: 0px;
    color: #171a1b;
    font-weight: 700;
    color: #ececec;
    padding: 14px 16px;
    text-decoration: none;
    transition: opacity 300ms ease;
}

.hobbies {
    padding-bottom: 5em;
    padding-right: 70em;
}

.align {
    display: flex;
    flex-direction: row;
    padding-right: 55.5em;
    padding-left: 1em;
}

.VAR {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 55.5em;
}

.JAVA {
    width: 100%;
    padding-left: 1em;
}

.NFT {
    padding-left: 1em;
}

.REFERENCE {
    padding-left: 1em;
}

.blog-hover {
    background-color: black;
}

/*  MISCELLANEOUS */
/* body {
    background-color: #171a1b;
}

li {
    padding-left: 1em;
    font-family: "Aresenal", sans-serif;
}

p {
    display: flex;
    flex-direction: row;
    /* padding-right: 58em;
    padding-left: 1em; */
/* font-size: 16px;

    font-family: "Noto Serif Display", serif;
}

pre code {
    font-family: monospace;
    border: 1px solid #171a1b;
    display: block;
    padding: 20px;
    background-color: #171a1b;
    color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a:visited {
    color: #0000;
}

a:hover {
    color: #5e008a;
}

a:link {
    color: #171a1b;
}   */