<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Noto+Serif+Display:wght@400;700&family=Poppins:wght@300;700&family=Roboto:wght@300;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <title>About</title>
</head>

<body>
  <nav>
    <ul class="nav_link_list">
      <li class="nav_link">
        <a href="index.html" class="
              nav_link_a
              link__hover-effect
                ">Home</a>
      </li>
      <li class="nav_link">
        <a href="about.html" class="
              nav_link_a
              link__hover-effect
                ">About</a>
      </li>
      <li class="nav_link">
        <a href="story.html" class="
              nav_link_a
              link__hover-effect
                ">Story</a>
      </li>
    </ul>
  </nav>
  <header>
    <h1><span class="BCIT">TO BE</span>STYLED</h1>
</body>