<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Noto+Serif+Display:wght@400;700&family=Poppins:wght@300;700&family=Roboto:wght@300;700&display=swap"
    rel="stylesheet">
  <script defer src="src/script.js"></script>
  <script defer src="src/nav.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Custom Timers</title>
</head>
<body>
  <header>
    <div id="navbar">
    </div>
  </header>
  <div class="login-page light-theme">
    <h1>
      Custom Timers here
    </h1>
  </div>
</body>