<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Noto+Serif+Display:wght@400;700&family=Poppins:wght@300;700&family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>index</title>
</head>
	<nav id="myNav" class="my_Nav">
	<h1><a href="index.html" class="nav-home" id="home">Our App</a></h1>
	<h2><a href="login.html" class="nav-home" id="login">Login/Sign Up</a></h2>
  	</nav>
	<span class="theme-toggle"><input type="checkbox"></span>
<body>
  <nav>
    <ul class="nav_link_list">
      <li class="nav_link">
        <a href="index.html" class="
            nav_link_a
            link__hover-effect
            ">Home</a>
      </li>
      <li class="nav_link">
        <a href="about.html" class="
            nav_link_a
            link__hover-effect
            ">About</a>
      </li>
      <li class="nav_link">
        <a href="story.html" class="
            nav_link_a
            link__hover-effect
            ">Story</a>
      </li>
    </ul>
  </nav>
  <header>
    <h1><span class="PROJECT">AGILE&nbsp;</span>2911</h1>
	<h2>to be styled</h2>
  </header>
  <script>
	function LDmode(){
	const dark = document.querySelector("body")
	if (check == false){
		dark.classList.replace('light-theme', 'dark-theme')
		check = true
	} else if (check == true){
		dark.classList.replace('dark-theme', 'light-theme')
		check = false
		}
	}
	function createCheck(){
		var clickBox = document.querySelector('.theme-toggle')
		clickBox.addEventListener('click', LDmode)
	}	  
  </script>
</body>

</html>
