<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Noto+Serif+Display:wght@400;700&family=Poppins:wght@300;700&family=Roboto:wght@300;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
  <script defer src="src/nav.js"></script>
  <title>login</title>
</head>
<div id="navbar"></div>
<!-- <button onclick="LDmode()">Toggle dark mode</button> -->

<body class="body">
  <div class="login-page light-theme">
    <div class="form">
      <form>
        <input type="text" placeholder="&#xf007;  username" />
        <input type="password" id="password" placeholder="&#xf023;  password" required />
        <i class="fas fa-eye" onclick="show()"></i>
        <br>
        <br>
        <button>LOGIN</button>
        <p class="message"></p>
      </form>

      <form class="login-form">
        <button type="button" onclick="window.location.href='signup.html'">SIGN UP</button>
      </form>
    </div>
  </div>

  <script>
    var check = false
    function show() {
      var password = document.getElementById("password");
      var icon = document.querySelector(".fas")

      // ========== Checking type of password ===========
      if (password.type === "password") {
        password.type = "text";
      }
      else {
        password.type = "password";
      }
    };
    function LDmode() {
      const dark = document.querySelector(".login-page")
      if (check == false) {
        dark.classList.replace('light-theme', 'dark-theme')
        check = true
      } else if (check == true) {
        dark.classList.replace('dark-theme', 'light-theme')
        check = false
      }
    }

  </script>
</body>

</html>

</body>

</html>