<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Noto+Serif+Display:wght@400;700&family=Poppins:wght@300;700&family=Roboto:wght@300;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="css/style.css">
  <script defer src="src/nav.js"></script>
  <script defer src="src/app.js"></script>
  <title>Signup</title>
</head>
<body class="timer-body">
  <header>
    <div id="navbar">
    </div>
  </header>
  <h1 class="project">POMODORO STORY</h1>
  <div class="timer">
    <div class="form" method="post" action="/signup">
      <form>
      <input type="text" placeholder="Username" required />
      <input type="password" id="password" placeholder="Password" required />
      <i class="fas fa-eye" onclick="show()"></i>
      <br>
      <br>
      </form>
      <form class="login-form">
        <button type="button" onclick="window.location.href='login'" class="main-button">
          SIGN UP
        </button>
      </form>
    </div>
  </div>
  <h2 class="team-name">Project by Team "we still haven't decided a team name"</h2>
  <h3 class="group-no">ACIT 2911 1A/2A Team 1</h3>
  <script>
    var check = false
    function show() {
      var password = document.getElementById("password");
      var icon = document.querySelector(".fas");
  
      // ========== Checking type of password ===========
      if (password.type === "password") {
        password.type = "text";
      } else {
        password.type = "password";
      }
    }
    var check = false
  </script>
</body>
