<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/timers.css" type="text/css" rel="stylesheet"/>
    <script defer src="src/timers.js"></script>
    <title>Timers</title>
</head>

<body>
    <main class="app">
        <div class="timer">
          <div class="button-group mode-buttons" id="js-mode-buttons">
            <button
              data-mode="study"
              class="button active mode-button"
              id="js-study"
            >
              Study
            </button>
            <button
              data-mode="short_break"
              class="button mode-button"
              id="js-short-break"
            >
              Short Break
            </button>
            <button
              data-mode="long_break"
              class="button mode-button"
              id="js-long-break"
            >
              Long Break
            </button>
          </div>
          <div class="clock" id="js-clock">
            <span id="js-minutes">25</span>
            <span class="separator">:</span>
            <span id="js-seconds">00</span>
          </div>
          <button class="main-button" data-action="start" id="js-btn">
            Start
          </button>
        </div>
      </main>
</body>
</html>